$primary: #275c62;
$secondary: #287271;
$success: #8ab17d;
$info: #2a9d8f;
$warning: #e9c46a;
$danger: #e76f51;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
);
